body,
.top,
.second,
.third,
.image-subtext,
.fourth-text{
    display: flex;
    flex-direction: column;
}

.header,
.first,
.images-second,
.fourth,
.links{
    display: flex;
}

.second-header{
    text-align: center;
}

.image-subtext p{
    width: 180px;
    text-align: center;
}

.image-second{
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.image-subtext img{
    height: 200px;
    border-radius: 10px;
    border: solid blue 2px;
    width: 200px;
}

.links{
    gap:15px;
    margin-top:20px;
}

body {
    margin:0px;
}

.top,
.footer{
    background-color: #1F2937;
}

.placeholder{
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:200px;
    background-color: gray;
}

.placeholder p{
    margin: 90px 0 0 0;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}